<!DOCTYPE HTML> 
<html>
<head>
  <title>{% block title %}Bloggart{% endblock %}</title>
  {% block style %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/screen.css" />
  {% endblock %}
  {% if config.highlighting_style %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/pygments_{{config.highlighting_style}}.css" />
  {% endif %}
  <!--<link rel="alternate" type="application/atom+xml" href="{{config.url_prefix}}/feeds/atom.xml" />-->
  <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/throwdice" />
  <link rel="SHORTCUT ICON" href="{{config.url_prefix}}/static/{{config.theme}}/favicon.ico"/>
  {% if config.rel_me %}
  <link rel="me" href="{{config.rel_me}}" />
  {% endif %}
  {% block head %}{% endblock %}
</head>
<body>
	<div id="header-wrap"><div id="header" class="container_16">						
		<h1 id="logo-text"><a href="{{config.url_prefix}}/" title="">{{config.blog_name}}</a></h1>		
		<p id="intro">{{config.slogan}}</p>
		<div  id="nav">
			<ul>
				<li{% ifequal generator_class "IndexContentGenerator" %} id="current"{% endifequal %}><a href="{{config.url_prefix}}/">Home</a></li>
        {% block menu %}{% endblock %}
			</ul>
		</div>		
		<div id="header-image"></div> 
    <form id="quick-search" action="{{config.url_prefix}}/search" method="get">
      <p>
        <label for="q">Search:</label>
        <input type="hidden" name="cref" value="http://{{config.host}}{{config.url_prefix}}/cse.xml" />
        <input type="hidden" name="cof" value="FORID:11" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input class="tbox" type="text" name="q" size="31" />
        <input class="btn" type="image" name="sa" value="Search" src="{{config.url_prefix}}/static/{{config.theme}}/images/search.gif" alt="Search" />
      </p>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=quick-search&lang=en"></script>
	</div></div>
	<div id="content-outer"><div id="content-wrapper" class="container_16">
		<div id="main" class="grid_12">
      {% block body %}{% endblock %}
		</div>
		<div id="left-columns" class="grid_4">
      <div class="sidemenu">
        <h3>About</h3>
        <ul>
          <li>it's a blog about WEB 2.0 and new startups in China, cool things in Shanghai and a little mathematics. A telescope for you to understand China WEB cycle.</li>
          <li>
            <a target="_blank" href="http://feeds.feedburner.com/throwdice">Subscribe this blog<img width="13" style="margin-left:2px;border:0px;padding:0px;background:black;" src="/static/default/images/rss.jpg"/></a>
          </li>
          <li>
            <a target="_blank" href="http://twitter.com/lookon">Follow on Twitter</a> 
          </li>
          <li>
            <a target="_blank" title="Follow on Google Buzz" class="google-buzz-button" href="http://www.google.com/profiles/areyoulookon" data-button-style="follow">Follow on Buzz</a>
            <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
          </li>
        </ul>
      </div>
      {% for sidebar in config.sidebars %}
        <div class="sidemenu">
          <h3>{{sidebar.0}}</h3>
          <ul>
            {% for entry in sidebar.1 %}
              <li><a href="{{entry.1}}">{{entry.0}}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
		</div>		
	</div></div>
	<div id="footer-wrapper" class="container_16">
		<div id="footer-bottom">
			<p class="bottom-left">			
			&nbsp; &copy; {{config.author_name}} &nbsp; &nbsp;
			Design by : <a href="http://www.styleshout.com/">styleshout</a>												
			</p>	
			<p class="bottom-right" >
				<a href="{{config.url_prefix}}/">Home</a> |
        <a href="http://feeds.feedburner.com/throwdice">Atom</a> |
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
		   	<a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>
		</div>	
	</div>
{% if config.analytics_id and not devel %}
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("{{config.analytics_id}}");
  pageTracker._trackPageview();
  } catch(err) {}</script>
{% endif %}
</body>
</html>
